.jumbotron {
    background-color: #424242;
    width: 950px;
    height: 520px;
    margin: auto;
    padding: 20px;
}

p, ul, li, h5 {
    text-align: left;
    color: #ffffff;
}

h3, svg {
    color: #0ca789;
}
.nav-item.nav-link.active{
    color:#0ca789;
}
a:hover{
    color:#0ca789
}